<!DOCTYPE HTML>
<html>
<head>
    <title>Inspire.me</title>
    <link rel='shortcut icon' href='{{ url_for('static', filename='img/favicon.ico') }}'>
    <!-- Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <!-- Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel='stylesheet' href='{{ url_for('static', filename='css/main.min.css') }}'>
    <!-- JQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='{{ url_for('static', filename='js/main.min.js') }}'></script>
</head>
<body>
    <div class='canvas'>
        <div class='navbar'>
            <h1 class='nav-title'>Inspire.me</h1>
            <ul class='nav-options'>
                <li><i class='fa fa-facebook-square'></i>  Share</li>
                <li><i class='fa fa-paypal'></i>  Donate</li>
            </ul>
        </div>
        <div class='q-holder'>
            <h1 id='q-text'>Are you ready?</h1>
        </div>
        <div id='q-button' class='quote-button'>drop that inspiration on me</div>
        <div class='footer'>&copy; Josh Chan 2015</div>
    </div>
</body>
</html>
